
@charset "utf-8";
/* CSS Document */


html{

	margin-top:0px !important;

}


.parallax_layer{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 100%;
}
.parallax_content{
	margin: 0 auto;
	min-width: 100%;
	overflow-x: hidden;
	width: 100%;
}

.parallax_content_layer{
	position: relative;
}
.parallax_layer_child{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0%;
	margin: 0 auto;
	padding: 0;
	position: absolute;
}
