html, body{
  height: 100%    !important;
  min-height: 100%;
  margin: 0px 0px  !important;
  position:relative;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.video-container {
  position: relative;
  display:block;
  width: 100%;
  height: 100%;
}



.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

}

video, .ie8-poster {
  position: fixed;
  left: 0; 
  top: 37px;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  object-fit: cover;
  z-index: 1;
}

/*Contenedor*/


/*Cabecera*/
.header{


}
nav ul{
  z-index:9999;
}


/*Contenido*/

.container.container-content{

  background-color: rgba(255,255,255,.7);
  margin-top:40px;

}

.content{
  padding:20px 20px;

}

.video-container .container{

  padding-left: 0px;
  padding-right: 0px;

}


.navbar #main-menu, .navbar-nav .nav-item {
    float: right;
}

.navbar {
    padding: 0 0;
    z-index:999;
}
.navbar-toggler {
    float: right;
}

  .navbar-nav, .navbar-nav .nav-item,  .navbar-nav .nav-item a {
    width: auto;
  }


@media (max-width: 575px) {

  .navbar-nav .nav-item a {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-nav .nav-item a:hover {
    background-color: #000;
  }
  .navbar-header {
      margin-left:15px;
  }
  .navbar-toggler {
      margin-right:15px;
  }

  .navbar #main-menu, .navbar-nav .nav-item {
    float: left;
  }
  .navbar-nav, .navbar-nav .nav-item,  .navbar-nav .nav-item a {
    width: 100%;
  }

  .navbar-dark .navbar-nav .nav-link:hover {
      
    background-color: #000;
    color: rgba(255,255,255,1);
  }
  .navbar .container{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-link {
      margin-right: 0;
      margin-left: 0;
  }
}

#wrapper-navbar{
    z-index:999;
    position:fixed;
    top:0px;
    width:100%;
  }

#wrapper-footer{
    z-index:999;
    position:fixed;
    bottom:0px;
    width:100%;
    padding:15px 0;
  background-color: rgba(0,0,0,.7);
  }

footer .site-info, footer .site-info a{

  color:#fff;

}